<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
      integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css'>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <div class="page">
        <div class="top"></div>
        <div class="bottom"></div>
      </div>
      <div class="page1">
        <div class="badabox">
          <div class="box">
            <img src="/images/whtasapp-removebg-preview.png" alt="" />
            <h1>WHATSAPP WEB</h1>
          </div>
          <div class="box1">
            <div class="box2">
              <img
                src="/images/Screenshot_2023-11-16_162723-removebg-preview.png"
                alt=""
              />
              <div class="wt">
                <h2>Download WhatsApp for Windows</h2>
                <p>
                  Get calling, screen sharing and a faster experience with the
                  new Windows app.
                </p>
              </div>
              <button>Get App</button>
            </div>
            <h1>Use Whatsapp On Your Computer</h1>
            <div class="box3">
              <form action="/login" method="post">
                <input type="text" placeholder="username" name="username" />
                <input type="password" placeholder="Password" name="password" />
                <input type="submit" value="login" />
              </form>
              <br />
              <a href="/login/federated/google"
                >SIGN-UP With&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                  src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                  alt=""
                />&nbsp;Google</a
              >
              &nbsp;<button>
                <a class="ach" href="/register"> REGISTER</a>/<a
                  class="ach"
                  href="/login"
                >
                  LOGIN</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js'></script>
  </body>
</html>
