<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css'>

  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="main">
    
    <div class="pg">
<div class="left">
  <div style="height: 8vw;" class="nav">
    <form id="uploadpic" method="post" action="/upload" enctype="multipart/form-data">
      <input id="fileinp" type="file" name="image">
    </form>
    <div class="nav1">
       <a style="text-decoration:none;" href="/"><i  class="ri-arrow-left-line"></i></a> 
        <h2>Profile</h2>
    </div>
  
  </div>
  <div class="nav2">
    <div class="parentcircle">
      <div class="pencil"><i class="ri-pencil-line"></i></div>

      <div class="gola1">
          <img src="/images/uploads/<%= founduser.image %>" alt="">
      </div>
    </div>
    <h4>Your Name</h4> 
    <h3><%= founduser.username %></h3>
    
    <p>This name is visible  to your Whatsapp contacts.</p>
    <br>
   
    <h4>About</h4> 
    <h3><%= founduser.about %></h3>
    <br>
    <h4>Contact</h4> 
    <h3>+91<%= founduser.contact %></h3>
</div>
</div>
      <div class="right">
        <img src="/images/gpgUENjXYbNQRKZciejivU-removebg-preview.png" alt="">
        <h1>Download WhatsApp For Windows</h1>
        <p>Make calls, share your screen and get a faster experience when you download the <br> Windows app</p>
        <button style="background-color: #00A884; border:none; width:8vw;">Get app</button>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    document.querySelector(".pencil")
    .addEventListener("click",function(){
      document.querySelector("#fileinp").click();
    });
    document.querySelector("#fileinp")
    .addEventListener("change", function () {
      document.querySelector("#uploadpic").submit();
    })
  </script>
  <script src='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js'></script>
</body>
</html>